#search-box {
    border-radius: 25px;
    padding: 15px;
    border-style: solid;
    margin-left: 4.5in;
    width: 5in;
    /* background: url(/10.5.22/google_images/seach_buttons.png) no-repeat right; */
    background: url(/10.5.22/google_images/Seach_Hourglass.png) no-repeat left;
    padding-right: 150px;
    background-size:70px;
}

.topP {
    display: inline
}

#button {
    width: 150px;
    height: 40px;
}